.teetime {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 8rem;
}

.teetime h3 {
  margin: 0 0 0.25rem 0;
}

.time {
  font-style: italic;
}

.teeNbr {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
.golfername {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}